%desktop-subtitle {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.03em;
  font-weight: 700;
}

%desktop-body-1 {
  font-size: 16px;
  line-height: 20px;
}

%mobile-body-1 {
  font-size: 14px;
  line-height: 18px;
}

%desktop-h1 {
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.03em;
  font-weight: 700;
}
