@mixin with-default-border-radius() {
  border-radius: 6px;
}

@mixin with-small-border-radius() {
  border-radius: 4px;
}

@mixin horizontal-padding($left, $right:false) {
  padding-top: $left;
  padding-bottom: if($right, $right, $left);
}

@mixin vertical-offset($top, $bottom:false, $use-margin:false) {
  @if ($use-margin) {
    margin-top: $top;
    margin-bottom: if($bottom, $bottom, $top);
  } @else {
    padding-top: $top;
    padding-bottom: if($bottom, $bottom, $top);
  }
}

@mixin stretch($isAbsolute:false) {
  position: if($isAbsolute, absolute, relative);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin max-width($resolution) {
  @media (max-width: #{$resolution}px) {
    @content;
  }
}

@mixin min-width($resolution) {
  @media (min-width: #{$resolution}px) {
    @content;
  }
}

@mixin column-flex($gap:0) {
  display: flex;
  flex-direction: column;
  row-gap: $gap;
}

@mixin center-by-margin() {
  margin-left: auto;
  margin-right: auto;
}

@mixin flex($gap:0) {
  display: flex;
  column-gap: $gap;
}

@mixin align-center-row-flex($gap:0) {
  display: flex;
  align-items: center;
  column-gap: $gap;
}

@mixin image-fit-parent() {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

@mixin strict-size($size) {
  min-width: $size;
  max-width: $size;
  min-height: $size;
  max-height: $size;
}

@mixin max-rounding() {
  border-radius: 9999px;
}
