@import 'src/styles/index';

.container {
  @include vertical-offset(32px);
  @include column-flex(16px);

  .image {
    @include with-default-border-radius;
    @include image-fit-parent;

    max-height: 370px;
    object-fit: cover;

    &--vertical {
      object-fit: contain;
    }

    &__caption {
      text-align: center;
    }
  }
}
