@import 'landing';

.theme {
  --blog-content-1: #{$const-black};
  --blog-content-2: #{$content-2-grayscale};
  --blog-content-3: #{$content-3-grayscale};
  --blog-background-1: #{$const-white};
  --blog-background-2: #{$bg-2-grayscale};
  --blog-primary: #{$base-blue};
  --blog-on-primary: #{$const-white};
  --blog-secondary: #{$bg-blue};
  --blog-on-secondary: #{$const-black};
  --blog-outcast: #{$content-2-grayscale};
  --blog-on-outcast: #{$const-white};
}
