$const-white: #ffffff;
$const-black: #000000;

$base-blue: #476bf0;
$bg-blue: #eef6ff;

$bg-orange: #fffbe9;
$text-orange: #504c3d;

$bg-green: #f3ffe9;
$text-green: #3d4736;

$content-2-grayscale: #6f7d94;
$content-3-grayscale: #a6b2c6;
$bg-2-grayscale: #ebf0f7;
$line-grayscale: #c8d2e3;

$base-red: #eb2525;
